.el-aside {
  position: relative;
  background-color: rgba(1, 28, 47, 0.5);
  overflow: hidden;
}
.el-menu {
  border-right: none;
  color: #dfdede;
}
.el-menu .el-menu-item {
  display: flex;
  align-items: center;
  height: 72px;
}
.el-menu .el-submenu /deep/ .el-submenu__title {
  display: flex;
  align-items: center;
  height: 72px;
}
.el-menu li.el-menu-item:hover {
  background-color: transparent !important;
  background-image: url('../assets/gensui.png');
  background-size: 174px 72px;
  background-repeat: no-repeat;
}
.el-menu li.el-submenu:hover /deep/ .el-submenu__title {
  background-color: transparent !important;
  background-image: url('../assets/gensui.png');
  background-size: 174px 72px;
  background-repeat: no-repeat;
}
.collapse-box {
  position: absolute;
  width: 44px;
  height: 44px;
  background-color: #00a8ff;
  opacity: 0.8;
  top: 50%;
  display: flex;
  align-items: center;
}
.expand {
  left: -22px;
  border-radius: 0 50% 50% 0;
}
.expand img {
  margin-left: 26px;
}
.collect {
  right: -22px;
  border-radius: 50% 0 0 50%;
}
.collect img {
  margin-left: 6px;
}
